# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/L1/v16/Browse.VC.db
.vs/L1/v16/Browse.VC.opendb
.vs/L1/v16/Server/sqlite3/db.lock
.vs/L1/v16/.suo
.vs/L1/v16/ipch/759fb385a45e74d4.ipch
.vs/L1/v16/Server/sqlite3/storage.ide
.vs/L1/v16/Server/sqlite3/storage.ide-shm
.vs/L1/v16/Server/sqlite3/storage.ide-wal
